/naoRobotAPI/venv
/skeletonFinderAPI/venv
/naoTrainer/venv
/naoTrainer/fer/weights_affectNet/torchscript_model_0_66_49_wo_gl.pth
/skeletonFinderAPI/yolo11x-pose.pt
/skeletonFinderAPI/yolo11n-pose.pt
/skeletonFinderAPI/datasets
/skeletonFinderAPI/yolo11n.pt
/skeletonFinderAPI/runs
/naoRobotAPI/pynaoqiNewest
/skeletonFinderAPI/server/third_party_pose_estimation/yolo_model/yolov7-w6-pose.pt
/skeletonFinderAPI/server/yolov7-w6-pose.pt
/skeletonFinderAPI/server/yolo11x-pose.pt
/skeletonFinderAPI/server/yolo11x.pt
/choreographeLocal/choregraphe-2.8.8-ubuntu2204-installer.run
yolov7-w6-pose.pt
.idea/*
naoRobotAPI/.idea/*
naoTrainer/.idea/*
skeletonFinderAPI/.idea/*

/choregraphe/choregraphe-2.8.8-ubuntu2204/*
/choregraphe/choregraphe-2.8.8-ubuntu2204-standalone.tar.gz